[submodule "deps/amethyst-extra"]
	path = deps/amethyst-extra
	url = git@github.com:jojolepro/amethyst-extra
	branch = hoppinworld
[submodule "deps/specs-physics"]
	path = deps/specs-physics
	url = git@github.com:jojolepro/specs-physics
	branch = hoppinworld
[submodule "deps/runtime"]
	path = deps/runtime
	url = git@github.com:hoppinworld/runtime
[submodule "deps/assets"]
	path = deps/assets
	url = git@github.com:hoppinworld/assets
[submodule "deps/data"]
	path = deps/data
	url = git@github.com:hoppinworld/data
[submodule "deps/amethyst"]
	path = deps/amethyst
	url = git@github.com:jojolepro/amethyst
	branch = hoppinworld

