#![enable(implicit_some)]
Container(
    transform: (
        id: "all",
        anchor: Middle,
        stretch: XY( x_margin: 0., y_margin: 0.),
        width: 20.,
        height: 20.,
    ),
    background: (
        image: Data(Rgba((1.0, 1.0, 1.0, 1.0), (channel: Srgb))),
    ),
    children: [
        // Title
        Text(
            transform: (
                id: "title",
                y: -90.,
                width: 800.,
                height: 150.,
                tab_order: -1,
                anchor: TopMiddle,
            ),
            text: (
                text: "HoppinWorld",
                font: File("assets/base/font/arial.ttf", Ttf, ()),
                font_size: 80.,
                color: (0.2, 0.2, 0.2, 1.0),
            )
        ),

        // Username field
        Container(
            transform: (
                id: "username_container",
                y: 75.,
                width: 1000.,
                height: 75.,
                tab_order: 1,
                anchor: Middle,
            ),
            background: (
                image: Data(Rgba((0.09, 0.02, 0.25, 1.0), (channel: Srgb))),
            ),
            children: [
                Text(
                    transform: (
                        id: "username",
                        width: 1000.,
                        height: 75.,
                        tab_order: 1,
                        anchor: Middle,
                        stretch: XY(x_margin: 0., y_margin: 0.),
                    ),
                    text: (
                        text: "Username",
                        font: File("assets/base/font/arial.ttf", Ttf, ()),
                        font_size: 45.,
                        color: (0.2, 0.2, 1.0, 1.0),
                        align: Middle,
                        editable: (
                            max_length: 64,
                        ),
                    )
                ),
            ]
        ),

        // Password field
        Container(
            transform: (
                id: "password_container",
                y: -75.,
                width: 1000.,
                height: 75.,
                tab_order: 1,
                anchor: Middle,
            ),
            background: (
                image: Data(Rgba((0.09, 0.02, 0.25, 1.0), (channel: Srgb))),
            ),
            children: [
                Text(
                    transform: (
                        id: "password",
                        width: 1000.,
                        height: 75.,
                        tab_order: 1,
                        anchor: Middle,
                        stretch: XY(x_margin: 0., y_margin: 0.),
                    ),
                    text: (
                        text: "pass",
                        font: File("assets/base/font/arial.ttf", Ttf, ()),
                        font_size: 45.,
                        color: (0.2, 0.2, 1.0, 1.0),
                        align: Middle,
                        password: true,
                        editable: (
                            max_length: 64,
                        ),
                    )
                ),
            ]
        ),

        // Login Button
        Button(
            transform: (
                id: "login_button",
                x: -192.,
                y: -300.,
                width: 256.,
                height: 128.,
                tab_order: 3,
                anchor: Middle,
                mouse_reactive: true,
            ),
            button: (
                text: "Login",
                font: File("assets/base/font/arial.ttf", Ttf, ()),
                font_size: 60.,
                normal_text_color: (0.2, 0.2, 0.2, 1.0),
                normal_image: Data(Rgba((0.8, 0.8, 0.8, 1.), (channel: Srgb))),
                //hover_image: Data(Rgba((0.3, 1., 0.3, 1.), ())),
                //press_image: Data(Rgba((0.15, 1., 0.15, 1.), ())),
                //hover_sound: File("audio/boop.ogg", Ogg, ()),
                //press_sound: File("audio/confirm.ogg", Ogg, ()),
            )
        ),

        // Quit Button
        Button(
            transform: (
                id: "quit_button",
                x: 192.,
                y: -300.,
                width: 256.,
                height: 128.,
                tab_order: 4,
                anchor: Middle,
                mouse_reactive: true,
            ),
            button: (
                text: "Quit",
                font: File("assets/base/font/arial.ttf", Ttf, ()),
                font_size: 60.,
                normal_text_color: (0.2, 0.2, 0.2, 1.0),
                normal_image: Data(Rgba((0.8, 0.8, 0.8, 1.), (channel: Srgb))),
            )
        ),
    ]
)