#![enable(implicit_some)]
Container(
    transform: (
        id: "all",
        z: 10.,
        anchor: Middle,
        stretch: XY( x_margin: 0., y_margin: 0.),
        width: 20.,
        height: 20.,
    ),
    background: (
        image: Data(Rgba((1.0, 1.0, 1.0, 1.0), ())),
    ),
    children: [
        // Title
        Text(
            transform: (
                id: "title",
                y: -90.,
                width: 800.,
                height: 150.,
                tab_order: -1,
                anchor: TopMiddle,
            ),
            text: (
                text: "Pause",
                font: File("assets/base/font/arial.ttf", Ttf, ()),
                font_size: 80.,
                color: (0.2, 0.2, 0.2, 1.0),
            )
        ),

        // Resume Button
        Button(
            transform: (
                id: "resume_button",
                y: 92.,
                width: 256.,
                height: 128.,
                tab_order: 1,
                anchor: Middle,
                mouse_reactive: true,
            ),
            button: (
                text: "Continue",
                font: File("assets/base/font/arial.ttf", Ttf, ()),
                font_size: 60.,
                normal_text_color: (0.2, 0.2, 0.2, 1.0),
                normal_image: Data(Rgba((0.8, 0.8, 0.8, 1.), ())),
                //hover_image: Data(Rgba((0.3, 1., 0.3, 1.), ())),
                //press_image: Data(Rgba((0.15, 1., 0.15, 1.), ())),
                //hover_sound: File("audio/boop.ogg", Ogg, ()),
                //press_sound: File("audio/confirm.ogg", Ogg, ()),
            )
        ),

        // Quit Button
        // Goes back to map select
        Button(
            transform: (
                id: "quit_button",
                y: -92.,
                width: 256.,
                height: 128.,
                tab_order: 1,
                anchor: Middle,
                mouse_reactive: true,
            ),
            button: (
                text: "Quit",
                font: File("assets/base/font/arial.ttf", Ttf, ()),
                font_size: 60.,
                normal_text_color: (0.2, 0.2, 0.2, 1.0),
                normal_image: Data(Rgba((0.8, 0.8, 0.8, 1.), ())),
            )
        ),
    ]
)